In [1]:
set_3 = {a for a in range(3, 101, 3)}
set_5 = {b for b in range(5, 101, 5)}
result_set = (set.intersection(set_3, set_5))
print(result_set)

{75, 45, 15, 90, 60, 30}

In [2]:
set_3 = {_ for _ in range(1, 101) if _ % 3 == 0}
set_5 = {_ for _ in range(1, 101) if _ % 5 == 0}
result_set = (set.intersection(set_3, set_5))
print(result_set)

{75, 45, 15, 90, 60, 30}

In [3]:
role_admin = ("회계 관리", "인사 관리", "구매 관리", "시스템 관리")
role_hr = ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
role_user = ("개인정보 조회", "근태 관리")

role_A = set(role_admin + role_hr + role_user)
result = list(role_A)
print(result)

['시스템 관리', '회계 관리', '근태 관리', '인사 관리', '개인정보 조회', '구매 관리']

In [4]:
menus = list(set(role_admin + role_hr + role_user))
menus.sort()
end_char = ", "
for menu in menus :
    if menus[-1] == menus:
        end_char = ""
    print(menu, end = end_char)

개인정보 조회, 구매 관리, 근태 관리, 시스템 관리, 인사 관리, 회계 관리,

In [5]:
print(list)

<class 'list'>

In [6]:
def print_ten():
    """print("hello")를 열번 출력합니다."""
    for _ in range(10):
        print("hello")

In [4]:
print_ten()

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [5]:
print(print_ten.__doc__)

print("hello")를 열번 출력합니다.

In [7]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [9]:
def posonly(posonly,/):
    print(posonly)

In [10]:
posonly("값만 입력해야 합니다.")

값만 입력해야 합니다.

In [11]:
def keyonly(*, keyonly = "default"):
    print(keyonly)

In [12]:
keyonly()

default

In [13]:
keyonly(keyonly="키워드로만 입력해야 합니다.")

키워드로만 입력해야 합니다.

In [14]:
def var_positional(*args):
    print(type(args))
    return sum([_ for _ in args])

In [15]:
print(var_positional(1, 2, 3, 4, 5))

<class 'tuple'>
15

In [16]:
def var_keyword(**kargs):
    print(type(kargs))
    return kargs

In [17]:
print(var_keyword(key="value", key2="value2"))

<class 'dict'>
{'key': 'value', 'key2': 'value2'}

In [38]:
def plus_ten(num):
    return(num+10)

In [40]:
plus_ten(70)

80

In [41]:
def plus_ten(num):
    return num + 10
print(plus_ten(70))

80

In [44]:
def to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5 / 9

In [48]:
print(to_celsius(70))

21.11111111111111

In [82]:
def odd_even(even):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if type(even) != int:
        return ("None")
    if even % 2 == 0:
        return ("짝수")
    elif even % 2 != 0:
        return ("홀수")

In [83]:
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

In [85]:
def odd_even(number):
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if type(number) is int and number > 0:
        return "짝수" * (number % 2 == 0) or "홀수" # True = 1
    else:
        return

In [86]:
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

In [138]:
yyyy = input("check_leap_year")

def check_leap_year(yyyy):
      
    if yyyy % 100 == 0 and yyyy % 400 != 0 or yyyy % 4 == 0 :
        return "윤년"
    else:
        return "평년"

check_leap_year 1900

In [139]:
check_leap_year(1900)

'윤년'

In [140]:
def check_leap_year(yyyy):
      
    if yyyy % 4 == 0 and (yyyy % 100 != 0 or yyyy % 400 == 0 ):
        return "윤년"
    else:
        return "평년"

In [141]:
check_leap_year(1900)

'평년'

In [152]:
def days(dd):
    if dd in (1, 3, 5, 7, 8, 10, 12):
        return 31
    if dd in (4, 6, 9, 11):
        return 30
    else:
        return 28

In [156]:
print(days(11))
print(days(2))
print(days(1))

30
28
31

In [183]:
def days(y, m):
    if m in (1, 3, 5, 7, 8, 10, 12):
        return 31
    elif m in (4, 6, 9, 11):
        return 30
    elif m == 2:
        if y % 4 == 0 and (y % 100 != 0 or y % 400 == 0 ):
            return 29
        else:
            return 28

In [187]:
print(days(1900, 11))
print(days(2004, 10))
print(days(1900, 2))
print(days(2000, 2))

30
31
28
29

In [190]:
def days(y, m):
    if m in (1, 3, 5, 7, 8, 10, 12):
        return 31
    elif m in (4, 6, 9, 11):
        return 30
    elif y % 4 == 0 and (y % 100 != 0 or y % 400 == 0 ):
            return 29
    else:
        return 28

In [191]:
print(days(1900, 11))
print(days(2004, 10))
print(days(1900, 2))
print(days(2000, 2))

30
31
28
29