In [2]:
list_p = [i for i in range(10) if i % 3 == 0]
print(list_p)

[0, 3, 6, 9]

In [3]:
easy_list = [[1, 2, 3, 4, 5], [3, 4]]
for j  in easy_list:
    for i in j:
        print(i)

1
2
3
4
5
3
4

In [4]:
i = 0
while i < len(easy_list):
    j = 0
    while j < len(easy_list[i]):
        print(easy_list[i][j])
        j += 1
    i += 1

1
2
3
4
5
3
4

In [13]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [i for i in a if len(i) == 5]
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [20]:
while True:
    num1, num2 = map(int, input("정수 두 개 입력하세요:").split( ))
    if num1 > 20 or num1 < 1:
        print("첫번째 값의 범위는 1 ~ 20입니다.")
    elif num2 > 30 or num2 < 10:
        print("두번째 값의 범위는 10 ~ 30입니다.")
    elif num1 > num2:
        print("첫 번째 입력 값은 두 번째 입력 값보다 작게 입력하세요.")
    else:
        PO2 = [2**i for i in range (num1, num2+1)]
        del PO2 [1]
        del PO2[len(PO2) - 2]
        print(PO2)
        break
    continue

정수 두 개 입력하세요: 5 12

[32, 128, 256, 512, 1024, 4096]

In [25]:
for num in range(1, 101):
    print("Hello world", num)

Hello world 1
Hello world 2
Hello world 3
Hello world 4
Hello world 5
Hello world 6
Hello world 7
Hello world 8
Hello world 9
Hello world 10
Hello world 11
Hello world 12
Hello world 13
Hello world 14
Hello world 15
Hello world 16
Hello world 17
Hello world 18
Hello world 19
Hello world 20
Hello world 21
Hello world 22
Hello world 23
Hello world 24
Hello world 25
Hello world 26
Hello world 27
Hello world 28
Hello world 29
Hello world 30
Hello world 31
Hello world 32
Hello world 33
Hello world 34
Hello world 35
Hello world 36
Hello world 37
Hello world 38
Hello world 39
Hello world 40
Hello world 41
Hello world 42
Hello world 43
Hello world 44
Hello world 45
Hello world 46
Hello world 47
Hello world 48
Hello world 49
Hello world 50
Hello world 51
Hello world 52
Hello world 53
Hello world 54
Hello world 55
Hello world 56
Hello world 57
Hello world 58
Hello world 59
Hello world 60
Hello world 61
Hello world 62
Hello world 63
Hello world 64
Hello world 65
Hello world 66
Hello world 67
Hello world 68
Hello world 69
Hello world 70
Hello world 71
Hello world 72
Hello world 73
Hello world 74
Hello world 75
Hello world 76
Hello world 77
Hello world 78
Hello world 79
Hello world 80
Hello world 81
Hello world 82
Hello world 83
Hello world 84
Hello world 85
Hello world 86
Hello world 87
Hello world 88
Hello world 89
Hello world 90
Hello world 91
Hello world 92
Hello world 93
Hello world 94
Hello world 95
Hello world 96
Hello world 97
Hello world 98
Hello world 99
Hello world 100

In [28]:
hi = int(input("인사 몇 번 해드릴까요?"))
for i in range(hi):
    print("Hello world")

인사 몇 번 해드릴까요? 3

Hello world
Hello world
Hello world

In [33]:
count = int(input("인사 몇 번 해드릴까요?"))
for i in range(1, count+1):
    print('Hello world', i)

인사 몇 번 해드릴까요? 3

Hello world 1
Hello world 2
Hello world 3

In [41]:
print(list(range(-10, -80, -30)))

[-10, -40, -70]

In [61]:
num = int(input("자연수 하나 입력해주세요:"))
for i in range(num, 0, -1):
    for j in range(i):
        print(i, end ="\t")
    print()

자연수 하나 입력해주세요: 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

In [82]:
nu = int(input("자연수 하나 입력해주세요:"))
for n in range(nu, 0, -1):
    print(f"{n}\t" * n)

자연수 하나 입력해주세요: 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1