In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:
np.random.seed(0)
df1 = pd.DataFrame(np.vstack([list("ABCDE"),
                              np.round(np.random.rand(3, 5), 2)]).T,
                   columns=["C1", "C2", "C3", "C4"])
df1

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07

In [4]:
np.vstack(list("ABCDE"))

array([['A'],
       ['B'],
       ['C'],
       ['D'],
       ['E']], dtype='<U1')

In [8]:
df2 = df1.set_index("C1")
df2

      C2    C3    C4
C1
A   0.55  0.65  0.79
B   0.72  0.44  0.53
C    0.6  0.89  0.57
D   0.54  0.96  0.93
E   0.42  0.38  0.07

In [10]:
df2.set_index("C4")

        C2    C3
C4
0.79  0.55  0.65
0.53  0.72  0.44
0.57   0.6  0.89
0.93  0.54  0.96
0.07  0.42  0.38

In [11]:
df2.reset_index()

  C1    C2    C3    C4
0  A  0.55  0.65  0.79
1  B  0.72  0.44  0.53
2  C   0.6  0.89  0.57
3  D  0.54  0.96  0.93
4  E  0.42  0.38  0.07